package about_website

import (
	"github.com/guillembonet/bunetz/views/layouts"
)

templ AboutWebsite() {
	@layouts.Base() {
		<div class="container mx-auto mt-4">
			This website has been created with templ+go stack (using htmx, alpinejs and tailwindcss).
		</div>
	}
}
